# ==========================================
# 🔐 KAFKA SETTINGS
# ==========================================
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=k411y

# ==========================================
# 🗄️ MINIO (S3) SETTINGS
# ==========================================
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=...

S3_ROOT_URI=s3a://dev/
S3_OUTPUT_PATH=s3a://dev/k411y/btc_trades/
S3_CHECKPOINT_PATH=s3a://dev/k411y/checkpoints/btc_trades_raw/
S3_INPUT_PATH=s3a://dev/k411y/btc_trades
S3_ARCHIVE_PATH=s3a://dev/k411y/archive/btc_trades

# ==========================================
# 🐘 GREENPLUM (POSTGRES) SETTINGS
# ==========================================
GP_HOST=master
GP_PORT=5432
GP_DB=postgres
GP_USER=gpadmin
GP_PASSWORD=...

GP_SCHEMA=k411y
GP_TABLE_RAW=btc_trades_raw
GP_TABLE_MART=btc_ohlcv_1m

# ==========================================
# 📊 CLICKHOUSE SETTINGS
# ==========================================
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=...
CH_DB=default
CH_TABLE=btc_ohlcv_1m